<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.knowyourism">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_without_bg"
        android:label="kyISM"
        android:roundIcon="@drawable/logo_without_bg"
        android:supportsRtl="true"
        android:theme="@style/Theme.KnowYourISM">
        <activity android:name=".Activity.Contacts.ContactsActivity" />
        <activity android:name=".Activity.Clubs.ClubActivity" />
        <activity android:name=".Activity.LostAndFound.LnFActivity" />
        <activity android:name=".Activity.ForgetPass.ForgetPassActivity" />
        <activity android:name=".Activity.Login.LoginActivity" />
        <activity android:name=".Activity.OtherStuffActivity" />
        <activity android:name=".Activity.ConfirmActivity" />
        <activity android:name=".Activity.UpdateProfileActivity" />
        <activity android:name=".Activity.locations.LocationActivity" />
        <activity android:name=".Activity.ProfileActivity" />
        <activity android:name=".Activity.ActivitySpy" />
        <activity android:name=".Activity.SearchActivity" />
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.MapsActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>
        <activity android:name=".Activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyArXZakzEmzahiBEU8Q6_ptlz881jEPT5A" />
    </application>

</manifest>